*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    color: black;
    background-color: white;
    background: url("../images/header.jpg") center no-repeat;
    background-size: contain;
    background-position: top;
}

h1 {
    margin: 0;
    color: white;
}


/* CONTAINER */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}


/* INTRO */

.intro {
    width: 100%;
    height: 730px;
    color: white;
    position: relative;
}

.intro__inner {
    display: block;
    position: absolute;
    top: 175px;
}

.intro__text {
    max-width: 580px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.563;
    font-weight: 200;
    margin: 40px 0;
}

.intro__title {
    font-size: 5vw;
    font-family: 'Roboto', sans-serif;
    color: rgb(18, 18, 18);
    font-weight: bold;
    line-height: 0.688;
    color: white;
    margin-bottom: 20px
}

.intro__button {
    border: 1px solid white;
}

.button {
    text-align: center;
    max-width: 158px;
    max-height: 58px;
    padding: 20px 55px;
    border-radius: 29px;
    transition: background-color .2s linear;
}

.button:hover {
    background-color: white;
    color: black;
    border-color: white;
}


/* HEADER */

.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 30px;
    z-index: 100;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
}


/* Navigation */

.navbar {
    text-transform: uppercase;
    font-size: 10px;
}

.navbar__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    position: relative;
}

.navbar__link:after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    opacity: 0;
    background-color: #fff;
    position: absolute;
    margin-top: 7px;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.navbar__link:hover:after {
    opacity: 1;
}


/* COMPANY */

.company {
    color: #000000;
    margin-bottom: 90px;
}

.company__inner {
    max-width: 680px;
}

.company__title {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 100;
}

.company__text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.5;
    word-spacing: 4px;
}


/* ABOUT */

.about__inner {
    min-height: 830px;
    background: url("../images/theMan.jpg") center no-repeat;
    background-size: cover;
    background-position: left top;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about__text {
    max-width: 50%;
    min-height: 830px;
    padding: 100px 105px 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about__uptitle {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #838383;
}

.about__title {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    font-weight: 100;
    max-height: 90px;
    color: #121212;

}

.about__info {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    color: #121212;
    line-height: 1.6;
}

.about__button {
    border: 1px solid black;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
}

.img-wrap-1 {
    position: relative;
    width: 550px;
}

.img-wrap-1 > .img-wrap-2 {
    padding-bottom: 95%;
}

.img-wrap-1 > .img-wrap-2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
}


/* GALLERY */

.gallery__top {
    display: flex;
    margin-bottom: 25px;
}

.gallery__bottom {
    display: flex;
}

.gallery {
    margin: 115px 0 115px;
}


/* FOOTER */

.footer {
    margin-top: 75px;
    background-image: url("../images/footer.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.footer__link {
    text-decoration: none;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 25px;
}

.footer__navbar {
    display: flex;
    justify-content: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.footer__contacts h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.footer__logo {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 40px;
    color: black;
}


/* RESPONSIVE */

@media screen and (max-width: 1465px) {
    .intro__button {
        color: black;
        border-color: black;
    }
    .intro {
        margin-top: 30vw;
        height: 450px;
    }
    .intro__title,
    .intro__text {
        color: black;
    }
    .intro__button:hover {
        background-color: black;
        color: white;
        border-color: black;
    }
}

@media screen and (max-width: 1170px) {
    .intro__title {
        font-size: 50px;
    }
    .about__inner {
        align-items: flex-start;
    }
    .about__uptitle {
        color: #ffffff;
    }
    .about__title {
        color: #ffffff;
    }
    .about__text {
        padding-left: 15px;
        max-width: 65vw;
    }
    .about__info {
        color: white;
    }
    .about__button {
        color: white;
        border-color: white;
    }
    .company__inner {
        max-width: 100%;
    }
}

@media screen and (max-width:945px) {
    .about__text {
        max-width: 85%;
    }
}

@media screen and (max-width: 750px) {
    .intro__title {
        line-height: 1;
    }
    .navbar__link {
        margin: 0 5vw;
    }
    .about__text {
        max-width: 100%;
        padding: 15px;
    }
    .gallery__top {
        flex-direction: column;
    }
    .gallery__bottom {
        flex-direction: column;
    }
    .img-wrap-1 {
        width: 95vw;
    }
}

@media screen and (max-width: 500px) {
    .header__inner {
        display: block;
        width: 100%;
    }
    .navbar__link {
        display: block;
        width: 100%;
    }
    .intro {
        margin-top: 15%;
    }
    .company{
        margin-top: 80px;
    }
}
